/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* --boardheight = calc(header-restart) */
body{
    background-color: #22242A;
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100vh;
    color: whitesmoke;
}
.gameboard{
    height: 710px;
    width: 680px;
    border: solid  whitesmoke 2px;
}
.header{
    height: 200px;
    background-color: #22242A;
}
select{
    background-color: #22242A;
    color: white;
}
.marker-round{
    display: flex;
    justify-content: center;
    align-items: center;
}
.player1, .player2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 205px;
    height: 60px;
    border: whitesmoke solid 1px ;
    border-radius: 5px;
    margin: 20px;
}
.turn{
    display: flex;
    justify-content: center;
}
.marker-div{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.markerBtn{
  width: 70px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #22242A;
}
.marker-round>*>*{
    font-size: 26px;
    width: 40px;
    height: 40px;
    background-color: #22242A;
    
}
.markerBtn.x::before, .markerBtn.x::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 80%; 
  background-color: whitesmoke;
}

.markerBtn.x::before {
  transform: rotate(45deg);
}

.markerBtn.x::after {
  transform: rotate(-45deg);
}
.markerBtn.o::before {
  content: '';
  position: absolute;
  width: 70%; 
  height: 70%;
  border: 8px solid white;
  border-radius: 40%;
}
.playboard{
    height: calc(700px - 200px - 80px);
    background-color: #14BDAC;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
}
.cell{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-collapse: collapse; */
}
  
.cell:last-child, .cell:nth-child(7), .cell:nth-child(8){ border-bottom: none; }  
.cell:last-child,.cell:nth-child(3), .cell:nth-child(6) { border-right: none; }
.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){border-top: none;}
.cell:first-child, .cell:nth-child(4), .cell:nth-child(7){border-left: none;}

.winning-message{
    height: 80px;
    background-color: #22242A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #188F85;
}
#restartButton{
    background-color: #22242A;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: #14BDAC;
}
.marker-round>*>*{
    font-size: 26px;
    width: 40px;
    height: 40px;
    background-color: #22242A;
    color: whitesmoke;
}
.cell.x::before, .cell.x::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 80%; 
  background-color: black;
}

.cell.x::before {
  transform: rotate(45deg);
}

.cell.x::after {
  transform: rotate(-45deg);
}
.cell.o::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 70%;
  border: 10px solid black;
  border-radius: 50%;
}

footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #718096;
    font-family: 'Poppins', sans-serif;
}

footer p {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* GitHub icon */
footer img {
    width: 22px;
    height: px;
    opacity: 0.7;
    transition: all 0.2s ease;
}

/* Hover effect */
footer a:hover img {
    opacity: 1;
    transform: scale(1.2);
}
